/* ActivityList.css */
.activity-list-container {
  margin-bottom: 16px; /* Adjust as needed */
  font-family: 'Arial', sans-serif; /* Set the font family */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
  border-radius: 4px;
  border: 3px solid white;
}

.activity-list-container h4{
  color: orangered;
}